@use "../abstracts";

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Gordita, sans-serif;
	font-size: 1.6rem;
	background: var(--body-bg);
	color: var(--text-color);
}

a,
input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	-webkit-tap-highlight-color: transparent;
}

a {
	text-decoration: none;
}

.icon {
	filter: var(--icon-color);
}

button {
	background: transparent;
	border: none;
	outline: none;
	padding: 0;
	cursor: pointer;
}

.container {
	@include abstracts.screen(sm) {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}
