*,
::before,
::after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: Gordita, sans-serif;
	font-size: 1.6rem;
	color: var(--text-color);
}

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

.icon {
	filter: var(--icon-color);
}

button {
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
